<ng-container *ngIf="noteType">
  <button
    mat-icon-button
    title="von DPL bearbeitet"
    i18n-title="ModifyByDpl|Label Von Dpl bearbeitet@@ModifyByDpl"
  >
    <ng-container [ngSwitch]="noteType">
      <mat-icon>
        <ng-container *ngSwitchCase="employeeNoteType.Create">
          add
        </ng-container>
        <ng-container *ngSwitchCase="employeeNoteType.Updated">
          create
        </ng-container>
        <ng-container *ngSwitchCase="employeeNoteType.Cancellation">
          clear
        </ng-container>
        <ng-container *ngSwitchDefault>
          warning
        </ng-container>
      </mat-icon>
    </ng-container>
  </button>
</ng-container>
