<div fxLayout="column" fxLayoutGap="20px" style="margin: 20px;">
  <h3>IMPRESSUM</h3>

  <div fxLayout="column">
    <div>DPL Deutsche Paletten Logistik GmbH</div>
    <div>Overweg 12</div>
    <div>D-59494 Soest</div>
  </div>

  <div fxLayout="column">
      <div>Tel: +49 2921 7899 - 0</div>
      <div>Fax: +49 2921 7899 - 178</div>
  </div>

  <div fxLayout="column">
    <div>Geschäftsleitung</div>
    <div>Horst Gutzeit</div>
</div>
<div fxLayout="column">
    <div>Handelsregister</div>
    <div>Registergericht: Amtsgericht Arnsberg</div>
    <div>Registernummer: HRB 6127</div>
</div>

<div fxLayout="column">
    <div>Sitz der Gesellschaft</div>
    <div>59494 Soest</div>
</div>
<div fxLayout="column">
    <div>Umsatzsteuer-Identifikationsnummer: DE 206 323 118</div>
    
</div>
<div fxLayout="column">
    <div>Disclaimer</div>
    <div> Bei aller Sorgfalt kann keine Haftung für die Inhalte der Website gegeben werden.</div>
</div>
  
    
</div>
