<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lama.Domain.Accounting.BusinessLogic.STB.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Lama.Domain.Accounting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="AccountingContext" connectionString="Data Source=LOCALHOST; Initial Catalog=LtmsWebApp_DPL;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AddressesContext" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=AddressWebApp;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AddressEntities" connectionString="metadata=res://*/Models.AddressModel.csdl|res://*/Models.AddressModel.ssdl|res://*/Models.AddressModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=AddressWebApp;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LamaWebApp.Properties.Settings.ErpConnectionString" connectionString="Data Source=ERPSVR\GSD;Initial Catalog=DPL;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Lama.Domain.Accounting.BusinessLogic.STB.Settings>
      <setting name="StoreIncludeScope" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsolationLevel" serializeAs="String">
        <value>ReadCommitted</value>
      </setting>
    </Lama.Domain.Accounting.BusinessLogic.STB.Settings>
    <Lama.Domain.Accounting.Properties.Settings>
      <setting name="AllowCancellationOfMatchedTransactions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowCancellationOfCancellations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CancellationDeletesNotInBalanceTransactions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccountClosingRuleEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccountingClosingRuleDay" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Preliminary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowEditTransactionForLockedAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxBookingDateOffset" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MaxValutaOffset" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CloseProcessIfNessesary" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoExtDescription" serializeAs="String">
        <value>{"Templates": {"VERS": {"SourceTemplate": "An {TargetAccount.Name}","TargetTemplate": "Von {SourceAccount.Name}"},"VERSA": {"SourceTemplate": "An {TargetAccount.Name}","TargetTemplate": "Von {SourceAccount.Name}"}}}</value>
      </setting>
      <setting name="ClearingSearchCacheTimeSpan" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="ModifiedBookingTransactionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ModifiedTransactionProcessEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ModifiedWithDetailsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutomaticUpdateOptimisticLockField" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutomaticAssignCreateUpdateStamps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AuditLogEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowEditBookingForLockedAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActivateAccountOnBooking" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDeleteBookingForLockedAccount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowEditBookingOnInvoice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowEditBookingMatched" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowEditBookingOnReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DpgFindOperation" serializeAs="String">
        <value>BatchDapper</value>
      </setting>
      <setting name="DpgBatchThreshold" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DBContextLogEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowEditTransactionAfterAccountClosing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FindAccountDetailOperationType" serializeAs="String">
        <value>Optimized</value>
      </setting>
      <setting name="TransactionSwapValidationType" serializeAs="String">
        <value>Simple</value>
      </setting>
      <setting name="CacheTimeSpan_ChargeOff" serializeAs="String">
        <value>01:00:00</value>
      </setting>
      <setting name="Submission_IntDescriptionProcessTemplate" serializeAs="String">
        <value>{Submission.Number}</value>
      </setting>
      <setting name="Submission_ExtDescriptionProcessTemplate" serializeAs="String">
        <value>{Submission.Number} [{Submission.ExtNumber}]</value>
      </setting>
    </Lama.Domain.Accounting.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.DirectoryServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <interceptors>
      <interceptor type="Lama.Domain.Accounting.LogCommandInterceptor, Lama.Domain.Accounting">
        <parameters>
          <parameter value="IsAsync:{interceptionContext.IsAsync} Command Text:{command.CommandText}" type="System.String" />
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>
</configuration>